/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h5, h4, h3{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html{
    font-size: 13px;
    background-color: blue; 
}
img{
    max-width: 100%;
}
p{
    max-width: 15ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (max-width: 600px) {
    [class*="col-"] {
        max-width: 100%;
    }
}