.stylegeral h3,
.stylegeral h4,
.stylegeral strong,
.stylegeral p{
    font-family: roboto; 
}

.background{
    background:#fafafa;
}

.limite_texto_nome{
    overflow:hidden;
    text-overflow:ellipsiss;
    height: 10ch;
}

.limite_texto_descricao{

    overflow:hidden;
    height: 8ch;
}
.limite_texto_preco{

    overflow:hidden;
    text-overflow:clip; 
    height: 12ch;
}

.img-responsive-produtos{
    height: 100%;
    width: 100%; 
    display: block; 
    padding-top:10px;
}

.stylegeral a{
    width: 50%;    
}