.stylegeral h3,
.stylegeral h4,
.stylegeral strong,
.stylegeral p{
    font-family: "roboto", Helvetica, Arial, sans-serif; 
}

@media screen and (min-width: 600px){
    
    
}
.limite_texto_nome{
    height: 1ch;
    text-overflow:ellpsis;
}

.descricao_produtos{
    margin: 0px 10px;
    line-height: 1.5;
    color: #555;
    overflow:hidden;
    height: 10ch;
    text-align: center;
}
.limite_texto_preco{
    overflow:hidden;
    text-overflow:clip; 
    height: 0.7ch;
}

.img-responsive{
    height: 300px;
    width: 100%; 
    display: block; 
    opacity: 0.9;
    vertical-align: middle; 
}

.stylegeral a{
    width: 50%;    
}

#tamanho-preco{
    font-size:13px; 
}

.span{
    color: gray;   
}

#logout-style{
    color: #000000;
}
.background-style{
    background: rgb(240, 240, 240)

}

.style-produtos{
    padding: 0 20px;
}

.align-cart{
    margin-top: 5%;

}